{% extends "shops/base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <h1>Your shopping cart</h1>
  <table class="cart">
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}

          <tr  style="border-top:#cccccc solid 1px;">
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img width="400" src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ product.name }}</div>
                  <ul class="list-group">

                      <li class="list-group-item">
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                          {{ item.update_quantity_form.quantity }}
                          {{ item.update_quantity_form.override }}
                          <input type="submit" value="Update">
                          {% csrf_token %}
                        </form>
                      </li>
                      <li class="list-group-item">
                        <form action="{% url "cart:cart_remove" product.id %}" method="post">
                          <input type="submit" value="Remove">
                          {% csrf_token %}
                        </form>
                      </li>
                      <li class="list-group-item">
                        <p>one：{{ item.price }}</p>
                      </li>
                      <li class="list-group-item">
                        <p>total：{{ item.total_price }}</p>
                      </li>
                  </ul>
              </div>
            </td>
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
<div class="panel panel-default">
	<div class="panel-heading">
      <tr class="total">
        <td>Total：</td>
        <td colspan="4"></td>
        <td class="num">¥{{ cart.get_total_price }}</td>
      </tr>
    </div>
	<ul class="list-group">
		<li class="list-group-item">
          <p class="text-right">
          <a class="btn btn-info" role="button" color="red" href="{% url "orders:order_create" %}" >
           Checkout
          </a>
          <a class="btn btn-primary" role="button" href="{% url "shops:product_list" %}" >
            Continue shopping
            </a>

          </p>
        </li>
	</ul>
</div>


{% endblock %}
